<ion-content class="ion-padding fechamento-content">
  <div class="login-wrap">
    <ion-card>
      <ion-card-header class="header-cardapio">
        <ion-toolbar color="transparent">
          <ion-button slot="start" fill="clear" routerLink="/cardapio" class="header-button">Cardápio</ion-button>
          <ion-title>Minha Comanda</ion-title>
        </ion-toolbar>
      </ion-card-header>

      <ion-card-content>
        <ion-text>Conta Fechada.Valeu!</ion-text>
        <ion-button expand="block" (click)="fecharConta()">Fechar conta</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
