.fechamento-content {
	--background: #f8fafc;
}

.login-wrap {
	max-width: 620px;
	margin: 48px auto 0;
}

ion-card {
	background: beige;
	border-radius: 12px;
	margin: 0;
}

.header-cardapio,
ion-toolbar {
	--background: rgba(3, 70, 3, 0.815);
	--color: beige;
}

.header-button {
	--color: beige;
}

ion-card-content {
	display: grid;
	gap: 18px;
	padding: 32px;
	text-align: center;
}

ion-text {
	color: rgba(3, 70, 3, 0.815);
	font-size: 1.4rem;
	font-weight: bold;
}
